@model Dish

<form action="/editDish/@Model.DishId/@Model" method="post">
    <span asp-validation-for="Name"></span>
    <label asp-for="Name">Name of dish: </label>
    <input asp-for="Name" >

    <span asp-validation-for="Chef"></span>
    <label asp-for="Chef">Name of Chef: </label>
    <input asp-for="Chef" >

    <span asp-validation-for="Calories"></span>
    <label asp-for="Calories">Calories: </label>
    <input asp-for="Calories" >
    
    <span asp-validation-for="Tastiness"></span>
    <label asp-for="Tastiness">Tastines: </label>
    <input asp-for="Tastiness" >
    
    <span asp-validation-for="Description"></span>
    <label asp-for="Description">Description: </label>
    <textarea asp-for="Description" ></textarea>

    <input type="submit">
</form>