@model UserData
<partial name="testPartial"/>
<h1>submitted info:</h1>
<h1>Name: @Model.name</h1>
<h1>Location @Model.location</h1>
<h1>Fave language @Model.language</h1>
<h1>Comments @Model.Comments</h1>